<div class="boutique">
    <div class="row justify-content-center">
        <div class="col-6 align-self-center menu">
            <div class="categories">
            <hr>
                <center>
                    <a href="/boutique/cart">Valider le panier</a>
                </center>
            <hr>
            </div>
        </div>
    </div>
    <% if !session[:items_id].nil? %>
        <center>
        <div class="items row">
                <%session[:items_id].each do |i|%>
                        <% item=Item.find(i) %>
                        <div class="card item" style="width: 18rem;">
                            <img class="card-img-top" src="https://i.ytimg.com/vi/eoSJ7L9LxfY/maxresdefault.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><%=item.nom%></h5>
                                <p class="card-text"><%=item.desc%></p>                            
                            </div>
                        </div>
                <%end%>
        </div>
        </center>

    <%end%>
</div>