<div class="boutique">
    <div class="row justify-content-center">
        <div class="col-6 align-self-center menu">
            <hr>
            <div class="categories">
                <center>
                <%@categories.each do |c|%>
                <a><%=c.nom%></a>
                <%end%>
                </center>
            </div>
            <hr>
        </div>
    </div>
</div>
