// Place all the styles related to the Accueil controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// #353535 //noir

// #f6efee //blanc

// #568ea3 //blue

// #ea9010 //orange

// #c6d8d3 //gris-bleu
.vitrine {
    margin: 3vw;
}
.item {
    margin: 2vw;
    // background: url('https://hypixel.net/styles/hypixel-v2/images/content-middle-bg.png') repeat-y center center;
    width: 100%;
}
hr {
    background-color: #c6d8d3;
}