// Place all the styles related to the AdminMenu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.panel {
    margin-top: 20vh;
    padding-right: 10vh;
    overflow: hidden;
}