/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
html {
    background-color: #22333b;
}
body{
    padding: 0;
    margin: 0;
}
.emc-container {
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    /* background-color: #575757; */
    /* color: #568EA3; */
    /* background: radial-gradient( rgba(255, 255, 255, 0),#606060 180%), url("https://nsa40.casimages.com/img/2021/01/01//210101101239906937.png") no-repeat center center fixed; */
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
        ), url("https://nsa40.casimages.com/img/2021/01/01//210101101239906937.png") no-repeat center center fixed;  
        background-color: #22333b;
}
.navbar {
    /* height: 20vh; */
    background-color: #22333b;
}
.nav-item {
    margin-right: 1rem;
}
/* .nav-item:hover {
    font-size: large;
} */
.nav-text {
    color:  #c6ac8f  ;
    /* text-shadow: #568ea3 0.5px 0.5px; */
}
.navbar-brand > h2 {
    color: #c6ac8f;
    /* text-shadow: #568ea3 1px 1px; */
}
h3 {
    padding-top: 0.5rem;
    font-size: 1.2rem !important;
    font-family: 'Playfair Display', serif;
}
ul li a h3:hover {
    color: #855E42;
}
.footer {
    position:absolute;
    bottom:0;
}